#puzzle-block {
  height: 100%;
  width: 100%;
  display: block;
  /* border: 2px solid red; */
}

form {
  width: 50%;
  margin: auto;
}

input {
  width: 100%;
}

.row {
  display: flex;
  justify-content: center;
  gap: .25em;
  margin-bottom: .25em;
}

.letter-box {
  height: 4em;
  width: 4em;
  border: 2px solid grey;
}