@{
  Layout = "_Layout";
}

<h1>Puzzle Page</h1>

<div id="puzzle-block">
  <div id="row1" class="row active">
    <div id="row1-box1" class="letter-box"></div>
    <div id="row1-box2" class="letter-box"></div>
    <div id="row1-box3" class="letter-box"></div>
    <div id="row1-box4" class="letter-box"></div>
    <div id="row1-box5" class="letter-box"></div>
  </div>
  <div id="row2" class="row">
    <div id="row2-box1" class="letter-box"></div>
    <div id="row2-box2" class="letter-box"></div>
    <div id="row2-box3" class="letter-box"></div>
    <div id="row2-box4" class="letter-box"></div>
    <div id="row2-box5" class="letter-box"></div>
  </div>
  <div id="row3" class="row">
    <div id="row3-box1" class="letter-box"></div>
    <div id="row3-box2" class="letter-box"></div>
    <div id="row3-box3" class="letter-box"></div>
    <div id="row3-box4" class="letter-box"></div>
    <div id="row3-box5" class="letter-box"></div>
  </div>
  <div id="row4" class="row">
    <div id="row4-box1" class="letter-box"></div>
    <div id="row4-box2" class="letter-box"></div>
    <div id="row4-box3" class="letter-box"></div>
    <div id="row4-box4" class="letter-box"></div>
    <div id="row4-box5" class="letter-box"></div>
  </div>
  <div id="row5" class="row">
    <div id="row5-box1" class="letter-box"></div>
    <div id="row5-box2" class="letter-box"></div>
    <div id="row5-box3" class="letter-box"></div>
    <div id="row5-box4" class="letter-box"></div>
    <div id="row5-box5" class="letter-box"></div>
  </div>
  <div id="row6" class="row">
    <div id="row6-box1" class="letter-box"></div>
    <div id="row6-box2" class="letter-box"></div>
    <div id="row6-box3" class="letter-box"></div>
    <div id="row6-box4" class="letter-box"></div>
    <div id="row6-box5" class="letter-box"></div>
  </div>
</div>