@{
  Layout = "_Layout";
}

<h1 class="text-center">Puzzle Page</h1>

<div id="puzzle-block">
  @for (int i = 1; i < 7; i++)
  {
    <div id=@($"row{i}") class="row">
      @for (int j = 1; j < 6; j++ ) 
      {
        <div id=@($"row{i}-box{j}") class="letter-box"></div>
      }
    </div>
  }
</div>

<div id="form-block">
  <form action="/" method="post">
    <label for="userAnswer"></label>
    <input id="userAnswer" class="form-control-lg" placeholder="Guess" type="text" maxlength="5" pattern="[A-Za-z]{5}">
    <button type="submit" class="btn btn-primary btn-block mt-1" disabled>MAKE GUESS</button>
  </form>
</div>